input {
  width: 39.875rem;
  height: 3.375rem;
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  outline: none;
  border: 1px solid var(--gray-700);
}

button {
  height: 3.25rem;
  width: 5.625rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.content {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 1.5rem - 6px)
}
