.content {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.task {
  width: 46rem;
  height: 90%;
  /* background: var(--blue-dark); */
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}
.count {
  display: flex;
  align-items: center;
  gap: 8px;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5625rem;
  height: 1.1875rem;
  border-radius: 62.4375rem;
  background: var(--gray-400);
}
.count p{
    font-weight: bold
}
.pending{
    color: var(--blue)
}
.completed{
    color: var(--purple)
}
.tasks{
 padding: 10rem;
 border-top: var(--gray-400) solid 2px;
 border-radius: 8px;
}